@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:ital,wght@1,300&family=Open+Sans:wght@300&family=Roboto:wght@300&family=Ubuntu&display=swap');
/* reset css */
    html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
    background: linear-gradient(to top, rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.3) 50%), url(../asset/bg.png) no-repeat center center fixed;
    }
body{
    font: 1.6rem 'Roboto', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
:root{
    --color-default: rgb(250, 240, 240);
    --color-primary: #2b7dc0;
    --color-warning: #c73232;
    --color-success: #479e2c;
}
button,input,select{
    padding:0;
    border:0;
    background-color:transparent;
    font-size: inherit;
}
figure button span{
    padding-top: -0.5rem; 
    margin-top: 0.45rem;
    width: 3.45rem;
}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
/* thème */
header{
    display: flex;
    border: rgb(255, 252, 252);
    align-items: center;
    justify-content: center;
    background-color: #ffffffda;
}
header img{
    position: absolute;
    left: 10rem;
}
header h1{
    text-align: center;
    padding: 3rem;
    border: transparent;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    letter-spacing: 0.2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
label{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
}
header img{
    max-width: 14rem;
    display: block;
    transform: translateX(-5rem);

} 
main section h2{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 4rem;
}
section .hello{
    font-size: 3rem;
}
section .hello span{
    text-transform: capitalize;
}
main section p{
    padding: 3rem;
    text-align: center;
    border: solid .1rem var(--color-default);
    width: 50%;
    margin: 0 auto;
    color: #fff;
    border-radius: 1rem;
    background-color: #303030;
}
main{
    margin: 0 auto;
}
main .grid-picture-large{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem auto;
    max-width: 90rem;   
    gap: 3rem;
}
main ul img{
    border-radius: 1rem;
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
    border: solid .1rem #fff;
}
main ul li{
    text-align: center;
}
ul figure{
    position: relative;
}
ul figure .material-icons{
    vertical-align: -.4rem;
}
.connect::before{
    content: url('../asset/connexion.png');
    position: absolute;
    margin-left: -2.2rem;
    transform: translateY(0.1rem);
    -webkit-transform: translateY(0.1rem);
    -moz-transform: translateY(0.1rem);
    -ms-transform: translateY(0.1rem);
    -o-transform: translateY(0.1rem);
}
div figure form input::before{
    content: url('../asset/sinscrire.png');

    position: absolute;
    margin-left: -2.2rem;
    transform: translateY(0.1rem);
    -webkit-transform: translateY(0.1rem);
    -moz-transform: translateY(0.1rem);
    -ms-transform: translateY(0.1rem);
    -o-transform: translateY(0.1rem);
}
.deco::before{
    content: url('../asset/deconnexion.png');
    position: absolute;
    margin-left: -2.2rem;
    transform: translateY(0.1rem);
    -webkit-transform: translateY(0.1rem);
    -moz-transform: translateY(0.1rem);
    -ms-transform: translateY(0.1rem);
    -o-transform: translateY(0.1rem);
}
.account::before{
    content: url('../asset/contract.png');
    position: absolute;
    margin-left: -2.2rem;
    transform: translateY(0.1rem);
    -webkit-transform: translateY(0.1rem);
    -moz-transform: translateY(0.1rem);
    -ms-transform: translateY(0.1rem);
    -o-transform: translateY(0.1rem);
}
/* Overley effect */
ul figure figcaption{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    transform: scale(0);
    transition: all 500ms ease-in-out;
    transform-origin: center center;
    cursor: pointer;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
ul figure:hover figcaption{
    transform: scale(1);
}
/* MODALE */
.parent-modale{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}
.parent-modale .modale{
    max-width: 80rem;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 1.3rem;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
}
/* Table d'informations. */
th, tr, td{
    border: solid .1rem #fff;
    padding: 1.5rem;
}
table{
    width: 80rem;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgb(58, 101, 121);
    border: solid .1rem #fff;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
legend{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius:  1rem 1rem 0.5rem 0.5rem;
    padding: 1rem;
    border: solid .1rem rgb(0, 0, 0);
    -webkit-border-radius:  1rem 1rem 0.5rem 0.5rem;
    -moz-border-radius:  1rem 1rem 0.5rem 0.5rem;
    -ms-border-radius:  1rem 1rem 0.5rem 0.5rem;
    -o-border-radius:  1rem 1rem 0.5rem 0.5rem;
}
fieldset{
    width: 50%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: solid .1rem rgb(0, 0, 0);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.parent-modale .modale .desc{
    position: static;
    transition: none;
    background-color: #fff;
    color: #222;
}
div figure img{
    display: block;
    width: 100%;
    height: 55rem;
    border-radius: 1rem 1rem 0 0 ;
    -webkit-border-radius: 1rem 1rem 0 0 ;
    -moz-border-radius: 1rem 1rem 0 0 ;
    -ms-border-radius: 1rem 1rem 0 0 ;
    -o-border-radius: 1rem 1rem 0 0 ;
}
.modale-active{
    z-index: 1;
    opacity: 1;
    transform-origin: center center;
}
.parent-modale .modale .desc h3{
    font-size: x-large;
    font-weight: 400;
    background-color: #222;
    color: #fff;
    padding: 1rem;
}
h3{
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}
.parent-modale .modale .desc p :is(time){
    padding: 1rem;
}
.parent-modale .modale button{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    z-index: 2;
    background-color: #222;
    border-radius: 0.5rem;
    color: rgb(248, 247, 247);
    cursor: pointer;
}
header a{
    position: absolute;
    right: 8rem;
    padding: 1.5rem;
    background-color: #6599CC;
    max-width: 45rem;
    padding-left: 3rem;
    float: right;
    color: rgb(255, 255, 255);
    border-radius: 1rem;
}
header a:hover{
    background-color: #4991d9;
}
main a{
    padding: 2rem;
    background-color: #6599CC;
    margin: 1rem auto;
    display: block;
    max-width: 25rem;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 1rem;
}
div figure form input{
    padding: 1rem;
    background-color: #6599CC;
    margin: 1rem auto;
    display: block;
    cursor: pointer;
    max-width: 25rem;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 1rem;
}
div figure form input:hover{
    background-color: #4991d9;
}
main button{
    margin: 0 auto;
    display: block;
    padding: 1rem;
    background-color: #5d96d0;
    border-radius: 1rem;
}
main a:hover{
    background-color: #4991d9;
}
footer p{
    text-align: center;
}
/* PAGE FORM*/
.warning{
    color: #fff;
    text-align: center;
    line-height: 5rem;
    width: 80rem;
    background-color: var(--color-warning);
    margin: 2rem auto -1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.success{
    color: #fff;
    text-align: center;
    line-height: 5rem;
    width: 50%;
    background-color: var(--color-success);
    margin: 2rem auto -1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.name{
    text-transform: capitalize;
}
.return{
    padding: 1rem;
    width: 10rem;
    margin-bottom: 3rem;
}
.container{
    position: relative;
    display: block;
    max-width: 100rem;
    margin: 5rem auto;
    padding: 1.6rem;
    background-color: #292929;
    color: #ffffff;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.container .form-element {
    position: relative;
    margin: 0 auto;
    padding-bottom: 1rem;
    display: block;
    width: 100%;
   }
.form-element input, select{
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    padding: 1rem;
    height: 5rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: #444444;
    color: #ffffff;
   }
input, select{
    margin-bottom: 3rem;
   }
.btn-sign-in{
    width: 100%;
    height: 3rem;
    margin-top: 2.4rem;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
    color: #ffffff;
    background-color: #6599CC;
   }
.container input[type="submit"]{
    width: 100%;
    margin-top: 2.4rem;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
    color: #ffffff;
    background-color: #6599CC;
    line-height: 2.5rem;
}
.container input[type="submit"]:hover{
    background-color: #4991d9;
}
main div p{
    text-align: center;
}
main div a{
    max-width: 35rem;
    padding: 1rem;
}
hr{ /* barre d'espace entre les articles */
    display: block;
    max-width: 100%;
    margin: 0 auto;
    color: rgb(155, 187, 202);
    border: none;
}
h3{
    text-align: center;
}
option{
    color: #444444;
}
footer{
    margin-top: 2rem;
    background-color: #303030;
    padding: 2rem;
}
footer p{
    color: #fff;
}
@media screen and (max-width: 600px) {
       header img{
            position: absolute;
            top: 5rem;
            left: 50%;
            transform: translate(-50%,-50%);
            display: block;
            max-width: 12rem;
        }
        header{
            font-weight: 1rem;
            display: block;
            margin: 10rem auto;
        }
        main .grid-picture-large{
            grid-template-columns: repeat(1, 1fr);
            margin: 0 auto;
        }
       main section p{
           width: 100%;

       }
        main section h2{
            text-align: center;
            color: #fff;
            margin-top: -8rem;
            font-size: 2rem;
        }
        div figure img{
            display: block;
            width: 27rem;
            height: 35rem;
        }
        main ul img{
            width: 35rem;
            height: 52rem;
            gap: 5rem;
        }
        ul li{
            width: 35rem;
            margin: 0 auto;
        }
        main p{
            width: 100%;
        }
    }